@model ReservaEspectaculos_D.Models.Funcion

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Funcion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sala.CapacidadButacas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sala.CapacidadButacas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ButacasDisponibles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ButacasDisponibles) <br />
            <small>Ocupación: @ViewData["Ocupacion"]%</small>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Confirmada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Confirmada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pelicula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pelicula.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sala)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sala.Id) @Html.DisplayFor(model => model.Sala.TipoSala.Nombre)
        </dd>
        <dt class="col-sm-2">
           @Html.DisplayNameFor(Model => Model.Reservas)
        </dt>
        <dd class="col-sm-10">
            <a asp-action="VerReservas" asp-route-id="@Model?.Id">Ver listado</a>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Volver</a>
</div>
