@model DetallesPelicula

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4>Pelicula</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Pelicula.Titulo)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Pelicula.Titulo)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Pelicula.FechaLanzamiento)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Pelicula.FechaLanzamiento)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Pelicula.Descripcion)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Pelicula.Descripcion)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Pelicula.Genero)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Pelicula.Genero.Nombre)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.RecaudacionTotal)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.RecaudacionTotal)
                </dd>
            </dl>
            <table class="table table-bordered">
                <thead class="table-light">
                    <tr>
                        <th colspan="@(Model.Funciones.Select(f => f.Fecha).Distinct().Count() + 1)" class="text-center">Próximas funciones</th>
                    </tr>
                    <tr>
                        <th>Sala</th>
                        @foreach (var fecha in Model.Funciones.Select(f => f.Fecha).Distinct().OrderBy(f => f))
                        {
                            <th>@fecha</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @{
                        var salas = Model.Funciones.Select(f => f.Sala).Distinct().OrderBy(s => s.Numero);
                        var fechas = Model.Funciones.Select(f => f.Fecha).Distinct().OrderBy(f => f);
                    }

                    @foreach (var sala in salas)
                    {
                        <tr>
                            <td style="vertical-align:middle">
                                <a asp-action="Details"
                                    asp-controller="Salas"
                                    asp-route-id="@sala.Id"
                                    title="@sala.TipoSala.Nombre"
                                    class="btn btn-outline-primary btn-sm me-2 mb-2">
                                    @sala.Numero</a>
                            </td>

                            @foreach (var fecha in fechas)
                            {
                                <td>
                                    @{
                                        var funcionesSala = Model.Funciones
                                        .Where(f => f.Sala.Id == sala.Id && f.Fecha == fecha)
                                        .OrderBy(f => f.Hora);
                                    }
                                    @foreach (var funcion in funcionesSala)
                                    {
                                        @if (funcion.ButacasDisponibles > 0)
                                        {
                                            <a asp-action="Details"
                                                asp-controller="Funciones"
                                                asp-route-id="@funcion.Id"
                                               class="badge rounded-pill bg-primary text-white me-1 mb-1 text-decoration-none"
                                                  title="@funcion.Descripcion - @funcion.Hora">
                                                @funcion.Hora
                                            </a>
                                        }
                                        else
                                        {
                                            <a asp-action="Details"
                                                asp-controller="Funciones"
                                                asp-route-id="@funcion.Id" class="badge rounded-pill bg-secondary text-white me-1 mb-1 text-decoration-none"
                                                  title="@funcion.Descripcion - Sin butacas disponibles">
                                                @funcion.Hora
                                            </a>
                                        }
                                    }
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <div class="image-container">
                <img src="@Model.Pelicula.PathCartel"
                     class="img-fluid rounded"
                     alt="@Model.Pelicula.Titulo"
                     style="min-width: 100px; max-width: 200px;" />
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Pelicula?.Id">Editar</a> |
    <a asp-action="Index">Volver</a>
</div>
